<div class="home ash-bg" id="content-parent">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Home Title</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet in incidunt commodi similique accusamus laborum, dicta recusandae consequatur quaerat fuga tenetur fugiat ex eum exercitationem unde quisquam labore, aliquid tempora! Doloribus unde iure ipsam aut molestiae voluptate ratione corrupti facere mollitia commodi veniam dignissimos dicta in qui voluptas dolorem ad maiores porro cumque, nobis reprehenderit non error! Voluptatem, unde natus. Dolorum, dolore, iusto illo similique modi molestiae vel reprehenderit veritatis quo corporis laboriosam tempore optio ratione aperiam illum labore consequatur sed qui possimus quisquam suscipit eius incidunt. Libero, harum itaque! Architecto repellat at ipsam doloremque non, fugiat saepe similique aperiam maxime hic, iure veniam, quam fugit nemo autem necessitatibus. Commodi temporibus obcaecati debitis architecto placeat ea explicabo veniam ab non!</p>
      </div>
    </div>
  </div>
</div>